*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:black ;
    color: white;
}
.nav-link:hover{
  background-color: rgb(8, 221, 221);
  border-radius: 25px;
}
.navbar{
    font-size: 20px;
}
.carousel-item img{
    height: 90vh;
    width: 100%;
    object-fit: cover;
}
.card{
    background-color: black;
    color: white; 
}.card-about{
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.col-md-4 img{
    height: 20vh;
}
.btn:hover{
    background-color: darkcyan;
}
.col-md-4:hover{
    transform: scale(1.05);
    transition: all 0.3s;
}
.col img{
    height: 40vh;
    border-radius: 15px;
}
.col:hover{
    transform: scale(1.05);
    transition: all 0.3s;
}



